<% provide(:title, 'Stock Transfer') %>
<h1>Stock Transfer</h1>

<div id="item_details">
</div>

<%= render 'stockList' %>

<div class="row">
  <div class="span10 offset1">
    <%= form_for(@transfer, url: '/transfer_stock') do |f| %>

      <%= render 'shared/error_messages', object: f.object %>
      <%= hidden_field_tag(:id, @stock.id) %>

      <%= label_tag(:dateOfDispatch, "Date Of Dispatch:") %>
      <%= date_select(:transfer,:dateOfDispatch, :order => [:day, :month, :year], :start_year => Time.now.year - 20, :end_year => Time.now.year, default: {day: @transfer.dateOfDispatch}) %>

      <%= label_tag(:station_id, "Transfer to:") %>
      <%  result = Station.all %>
      <%= select_tag(:station_id, options_from_collection_for_select(result, "id","nameStation", @transfer.to)) %>

			<% if @assets!=nil %>
			  <% @assets.each do |list| %>
			  	<% if list.state == 'present' %>
			  	<%= label_tag "assets_#{list.id}", list.assetSrNo, class: "checkbox inline" %>
			  	<%= check_box_tag "assets[]", list.id,false,  :id => "assets_#{list.id}" %>
			  	<% end %>        
			  <% end %>
			<% end %>

      <%= label_tag(:comments, "Comments:") %>
      <%= text_field_tag(:comments, @transfer.comments ) %>

      <strong>Double check the details as a user you won't be able cancel the transfer.<strong><br>

      <%= f.submit "Transfer stock", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>